.navbar-link .title .is-5 {
    margin: 0;
}
.navbar-menu .navbar-end .navbar-item {
    margin: auto 1.5em;
}

.navbar-dropdown .navbar-item {
    cursor: pointer;
}

#task-menu {
    margin-top: 0.5em;
}

.hero-body {
    padding: 0;
    margin-top: 20px;
}

iframe {
    height: 85vh;
    width: 100vw;
}

.footer {
    padding: 0;
}

